[indirectcoverage=true] {
  border-style: solid !important;
  border-color: grey !important;
  border-width: 3px;
  color: grey;
}
[coverage=true] {
  outline: 3px solid green;
  border-style: solid !important;
  border-color: green !important;
  border-width: 3px;
  color: green;
}
[assertedcoverage=true] {
  outline: 3px solid green;
  border-style: solid !important;
  border-color: blue !important;
  border-width: 3px;
  color: green;
}
