[indirectCoverage=true] {
  border-style: solid !important;
  border-color: orange !important;
  border-width: 7px;
  color: orange;
}
[coverage=true] {
  border-style: solid !important;
  border-color: green !important;
  border-width: 7px;
  color: green;
}
